In [2]:
a =  3

In [3]:
print(id(a))    # printing address

1408330880

In [4]:
# printing all the keywords in python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
print(len(keyword.kwlist))

33

In [6]:
# total number of keywords are 33

In [7]:
# Error
a,b,c = 2

TypeError: 'int' object is not iterable

In [10]:
# right way
a, b, c  = 2,3,4

In [12]:
a, b, c

(2, 3, 4)

In [15]:
#gretest integer function
c = 4 // 3
print(c)

1

In [13]:
c = -5 // 2

In [14]:
c

-3

In [ ]:
# shorthands are also valid in pytohn like C/C++
a=5
a += 6
print(a)

In [ ]:
# power operator
c = 2**5
c

In [16]:
# for other maths fuctions
import math
math.log(2)

0.6931471805599453

In [17]:
#argument should be in radian
math.sin(30)

-0.9880316240928618

In [ ]:
#similarly

math.cos()
math.tan()
mth.sqrt()

#and many more

In [18]:
#function , if you dont know the number of arguments for a function in python. Then, do this

def func(*any_name_of_argument):
    print(any_name_of_argument)

In [19]:
#lets call it
func(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [21]:
#another way of defining function without usage of def , but using the analomous function 'lambda'
multiply = lambda x,y : x*y
multiply(2,3)

6

In [22]:
#another example
show_type = lambda x: type(x)
show_type(5)

int

In [25]:
# We can also define the documentation of a function using
def func(a,b):
    """
    This fucntion returns the sum of two numbers
    """
    return (a+b)

In [26]:
print(func(2,3))

5

In [27]:
print(func.__doc__)

    This fucntion returns the sum of two numbers

In [ ]:
string = " # my name is aryan " # spce at the beginnning and at the end
# to remove space from right -- use rstrip(), from left ---use lstrip() , from both sides ---use strip()
string.strip()

In [ ]:
string = " # my name is aryan "
string.rstrip().lstrip()  # these commands can be use separately as well as together

In [ ]:
string

In [ ]:
newstring = "#Aryan%"

In [ ]:
# to strip characters from a word just put them as arguments
newstring = newstring.lstrip('#').rstrip('%')

In [29]:
newstring = "my_name_is_aryan"

In [30]:
# we can also skip some elements while slicing the list using this syntax--- list[start:end:skip factor]
print(newstring[1:16:2]) 
# Or to for whole list just skip the end index
print(newstring[1::2])

ynm_sayn
ynm_sayn

In [ ]:
# format() function is used to format strings for printing or for doing any other work as shown below
A= " i am "
B = '17'
C = "old"
print("{0} {1} years {2}".format(A,B,C))

In [33]:
# to check if one thing contains another use --

"add" in "address"

True

In [31]:
"aryan" in ['alok','shukla','eklavya','mansi']

False

In [32]:
"aryan" in ['alok','shukla','eklavya','mansi','aryan']

True

In [35]:
# to copy  list to another
list = [1,2,3,4,5]
new_list = list.copy()

In [36]:
new_list

[1, 2, 3, 4, 5]

In [ ]:
# or you can proceed like this
new_list = list[:]
# By these two methods the list will be copied to a new list, i.e. the address of the new list will be different from the previous one

In [37]:
# to split a string use split()
string = "my name is aryan chauhan"
list = string.split()

In [38]:
list

['my', 'name', 'is', 'aryan', 'chauhan']

In [ ]:
# we can also split using explicit delimiter like '.'

In [39]:
string = "i am aryan. my last name is chauhan . i live in delhi. i am 19 years old"

In [40]:
list = string.split('.')

In [41]:
list

['i am aryan',
 ' my last name is chauhan ',
 ' i live in delhi',
 ' i am 19 years old']

In [ ]:
# The reverse of split is join
# we can join the contents of the list using join() function syntsax --- delimiter.join(list)

In [42]:
string2 = '.'.join(list)

In [43]:
string2

'i am aryan. my last name is chauhan . i live in delhi. i am 19 years old'